.dashboard-left {
    padding: 22px 0px 7px 0px;
    width: 50%;
    margin-left: 48%;
    @include font(400, 12px, 18px, #5a5b5b);

    &__map {
        position: relative;

        &__arrow {
            @include size(100px, 15px);
            @include position(absolute, null, null, null, 90px);
            font-size: 12px;
            padding: 5px 10px;
        }

        &__text {
            @include position(absolute, null, 0, 10%, 0);
            display: block;
            @include font(700, 16px, null, #3c3c3c);
            text-align: center;
            text-transform: uppercase;
        }
    }

    &__search {
        @include size(100%, 40px);
        @include flex(center, space-between);
        margin-top: 20px;
        padding: 0 10px;
        background-color: #f8f7f9;
        color: #2a2a2e;

        &__icon {
            font-size: 20px;
        }

        input {
            @include size(90%, 36px);
            background-color: #f8f7f9;
            font-size: 16px;
        }
    }

    &__slider {
        width: 100%;
        margin-top: 20px;

        &__title {
            @include font(600, 16px, null, #5a5b5b);
            margin-bottom: 20px;
            text-align: center;
        }

        &__bottom {
            @include flex(center, space-between);
            width: 100%;

            p {
                @include font(500, 14px, null, black);
                margin-bottom: 5px;
            }

            &__value {
                border-color: black !important;
                height: 25px;
                padding: 3px 10px;
                @include flex(center, center);
                @include font(null, 13px, null, black);
            }
        }

        &__hotel-type {
            &__title {
                @include font(600, 16px, null, #5a5b5b);
                margin-bottom: 20px;
            }
        }
    }
}