.hotel-container {
    display: flex;
    width: 100%;
    min-height: 220px;
    margin-bottom: 30px;
    cursor: pointer;

    &:hover {
        box-shadow: 0 4px 8px 0 #0000004d;
        background-color: #e4eaf1;
    }

    &__left {
        width: 30%;

        &__big-img {
            position: relative;

            img {
                @include size(100%, 182px);
                border-top-left-radius: 5px;
            }
        }

        &__small-img {
            @include flex(null, space-between);

            img {
                width: 24.5%;
            }
        }
    }

    &__center {
        width: 40%;
        font-size: 15px;
        margin-left: 10px;
        border-right: 1px solid $color-border;
        padding: 10px 0px;

        &__name {
            @include font(600, 25px, null, null);
            @include text-ellipsis(2);
        }

        &__address {
            @include font(500, 16px, null, $blue-client);
            @include flex(center, null);

            p {
                margin-left: 5px;
                @include text-ellipsis();
            }
        }

        &__convenience {

            p {
                @include font(500, 18px, null, rgb(36, 38, 44));
            }

            &__list {
                margin-top: 10px;
                display: flex;

                &__item {
                    @include flex(center, center);
                    margin-right: 10px;
                    padding: 4px 8px;
                    border-color: $blue-client !important;

                    span {
                        @include font(500, 14px, null, null);
                    }
                }
            }
        }
    }

    &__right {
        width: 30%;
        @include flex(center, space-between);
        flex-direction: column;
        padding: 10px 15px;

        &__price {
            float: right;
            margin: 20px 0px;

            &__title {
                @include font(500, 20px, null, null);
            }

            &__value {
                @include font(bold, 25px, null, #e12d2d);
                float: right;
                margin: 5px 0px 10px 0px;
            }
        }

        &__btn {
            background-color: $blue-client;
            width: 100%;
            padding: 15px;
            border-radius: 3px;
            @include font(600, 18px, null, white);
            p{
                text-align: center;
            }
        }

    }
}