.hotel-detail-checkout {
    width: 100%;

    &__info {
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
        @include flex(null, space-between);

        &__img {
            width: 26%;
            overflow: hidden;

            img {
                @include size(100%, 130px);
                image-rendering: optimizeQuality;
                transform: scaleX(2);
            }
        }

        &__content {
            width: 70%;

            &__name {
                @include font(500, 20px, 25px, #2a2a2e);
                margin: 5px 0px 10px 0px;
            }

            &__address {
                @include font(500, 14px, null, null);
                margin-top: 5px;
            }

            &__excellent {
                width: 100%;
                @include font(500, 12px, null, null);
                @include flex(center, null);
                margin-top: 10px;
            }
        }
    }

    &__info-room {
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;

        &__date {
            @include flex(null, space-between);
            margin-top: 10px;


            span {
                @include font(600, 16px, null, #2a2a2e);
            }
        }

        &__quantity {
            @include font(500, 14px, null, #2a2a2e);
            margin-top: 20px;
        }

        &__rating {
            width: 100%;
            display: flex;
            margin-top: 10px;

            &__box {
                @include size(35px, 30px);
                @include font(null, 14px, 30px, white);
                position: relative;
                background: rgb(72, 139, 248);
                border-radius: 3px;
                margin: 5px 8px 0px 0px;
                text-align: center;

                &::before {
                    @include position(absolute, 0px, -1.5px, null, null);
                    position: absolute;
                    content: "";
                    @include size(8px, 5px);
                    border-radius: 1px;
                    background: rgb(72, 139, 248);
                    transform: skew(150deg);
                }
            }

            &__rev {
                div:first-of-type {
                    @include font(500, 14px, null, rgb(57, 111, 198));
                }

                div:last-of-type {
                    font-size: 12px;
                    font-weight: 300;
                    @include font(300, 12px, null, null);
                }
            }


        }

        &__room {
            width: 100%;
            display: flex;

            &__img {
                width: 25%;
            }

            &__content {
                width: 75%;
                margin-left: 10px;
                padding-top: 15px;

                &__text {
                    @include flex(center, flex-start);
                    margin-bottom: 10px;

                    span {
                        margin-left: 10px;
                        @include font(null, 12px, null, #2a2a2e);
                    }
                }
            }
        }

        &__bottom {
            width: 100%;
            display: flex;

            span {
                @include font(400, 14px, 20px, rgb(40, 135, 28));
                margin-left: 10px;
            }
        }

    }

    &__advice {
        width: 100%;
        margin-bottom: 10px;
        border-left: 5px solid #1aac5b;
        @include flex(center, null);
        padding: 10px 15px;

        &__text {
            margin-left: 10px;

            &__title {
                @include font(500, null, null, rgb(50, 169, 35));
            }
        }

    }

    &__price {
        width: 100%;
        margin-bottom: 10px;

        &__top {
            background-color: #f9f9f9;
            padding: 15px;
            border-bottom: 1px solid rgb(221, 223, 226);

            &__item {
                @include flex(null, space-between);
                margin-top: 15px;
            }
        }

        &__bottom {
            padding: 15px;

            &__price {
                @include flex(null, space-between);
                margin-bottom: 15px;

                &__text {
                    @include flex(center, null);

                    &__title {
                        @include font(500, 20px, null, null);
                    }

                }

                &__number {
                    @include font(500, 20px, null, null);
                }
            }

            &__advice {
                font-size: 13px;

                span:first-of-type {
                    font-weight: 500;
                }

            }
        }
    }

    &__box {
        // box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 1px;
        background-color: white;
    }
}