.hotel-container {
    display: flex;
    width: 100%;
    min-height: 220px;
    margin-bottom: 30px;
    font-family: "Barlow", sans-serif;
    cursor: pointer;

    &:hover {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .3);
        background-color: #e4eaf1;
    }

    &__left {
        width: 30%;

        &__big-img {
            position: relative;

            img {
                @include size(100%, 182px);
                border-top-left-radius: 5px;
            }
        }

        &__small-img {
            @include flex(null,space-between);
            img {
                width: 24.5%;
            }
        }
    }

    &__center {
        width: 40%;
        font-size: 15px;
        margin-left: 10px;
        border-right: 1px solid rgb(221, 223, 226);
        padding: 20px 0px;

        &__name {
            @include font(600, 20px, null, null);
            margin-bottom: 5px;
        }

        &__address {
            @include font(500, 14px, null, rgb(49, 112, 231));
            @include flex(center, stretch);
            margin-top: 5px;
        }

        &__convenience {
            margin-top: 5px;

            p {
                @include font(500, 16px, null, rgb(36, 38, 44));
            }

            &__list {
                margin-top: 5px;
                display: flex;

                &__item {
                    @include flex(center, center);
                    margin-right: 10px;
                    padding: 4px 8px;
                }
            }
        }
    }

    &__right {
        width: 30%;
        @include flex(center, space-between);
        flex-direction: column;
        padding: 10px 15px;

        &__top {
            width: 100%;
            @include flex(center, flex-end);

            &__text {
                margin: 0px 10px;

                p {
                    @include font(500, 14px, 22px, rgb(42, 42, 46));
                }

                span {
                    @include font(400, 12px, 18px, rgb(42, 42, 46));
                }
            }

            &__rating {
                position: relative;
                @include flex(center, center);
                @include size(48px, 48px);

                &__text {
                    @include flex(center, center);
                    @include font(500, 16px, 22px, rgb(83, 146, 249));
                }
            }
        }

        &__bottom {
            width: 100%;

            &__price {
                float: right;
                margin: 10px 0px;

                &__title {
                    font-weight: 500;
                }

                &__value {
                    @include font(bold, 25px, null, #e12d2d);
                    float: right;
                    margin: 5px 0px 10px 0px;
                }
            }
        }

    }
}