.loading-hotel {

    &__content {
        @include size(450px, 250px);
        box-shadow: 0px 0px 10px grey;
        display: inline-block;
        @include position(fixed, 0, 0, 0, 0);
        margin: auto;
        border-radius: 15px;

        img {
            @include size(70px, 70px);
            margin: 50px 0px 0px 190px;
        }

        h3 {
            margin: 20px 0px;
            text-align: center;
            color: rgb(194, 111, 194);
        }

        h5 {
            margin: 10px 0px;
            font-size: 14px;
            text-align: center;
        }
    }
}