.room-selection {
    @include size(100%, 100%);
    @include flex(center, center);

    &__icon-people {
        margin: 0 5px;
    }

    &__dropdown {
        @include size(100%, 100%);
        @include flex(center, space-between);
        padding: 0px 15px;
        cursor: pointer;

        &__item {
            @include flex(center, space-between);
            padding: 5px 0;

            p {
                @include font(500, 16px, null, null);
            }

            &__number {
                @include flex(center, null);

                &__icon {
                    font-size: 24px;
                }
            }
        }

        &__title {
            @include font(600, 14px, null, null);
            display: flex;
        }
    }
}