.scroll-up-nav {
    &__overlay {
        position: absolute;
        @include size(100vw, 3000vh);
        top: 0;
    }

    &__content {
        @include size(100%, $scroll-up-nav-height);
        @include flex(center, center);
        background-color: #20274d;
        gap: 6px;

        &__search {
            @include size(300px, $scroll-up-nav-child-height);
        }

        &__calendar {
            @include size(400px, $scroll-up-nav-child-height);
        }

        &__room-select {
            @include size(220px, $scroll-up-nav-child-height);
            background-color: #fff;
            border-radius: 5px;
        }

        &__btn-search {
            @include size(130px, $scroll-up-nav-child-height);
            background-color: $blue-client;
            letter-spacing: 1px;
            text-transform: uppercase;
            @include font(600, null, null, #fff);
        }
    }

    input.ant-input-outlined {
        &:focus-within {
            border-color: transparent !important;
            box-shadow: none !important;
        }
    }
}