.step-one-payment {
    margin-bottom: 50px;

    &__advice {
        @include size(100%, 50px);
        font-size: 13px;
        margin-bottom: 10px;
        // box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 1px;
        @include flex(center, null);
        background-color: white;

        &__green-bar {
            display: inline-block;
            @include size(5px, 100%);
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
            background-color: green;
            margin-right: 10px;
        }

        &__great {
            @include font(600,null,null,rgb(50, 169, 35));
            margin: 0 4px;
        }
    }

    &__form {
        width: 100%;

        &__time {
            @include size(100%,55px);
            background-color: rgb(244, 248, 254);
            // box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 1px;
            padding: 0 15px;
        }

        &__info-user {

            &__title {
                &__icon {
                    @include font(null, 24px, null, #2e7d32);
                }

                h4 {
                    margin-left: 10px;
                    @include font(500, 24px, null, null);
                }
            }

            &__input-address {
                @include flex(center, space-between);
            }

        }

        &__preference {

            &__title {
                h4 {
                    margin-bottom: 15px;
                }
            }

            &__question {
                margin-top: 20px;
                box-sizing: border-box;
                background-color: rgb(246, 248, 252);
                padding: 10px 0px 20px 10px;

                &__item {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;

                    &__title {
                        margin-bottom: 10px;
                    }
                }
            }

        }

        &__policy {
            @include flex(null, flex-end);
            flex-direction: column;

            &__text {
                width: 100%;

                &__link {
                    @include font(500, null, null, rgb(49, 112, 231));

                    &:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }


            p {
                margin-top: 12px;
                margin-bottom: 12px;
                text-align: end;
                @include font(500,null,null,rgb(40, 135, 28));
            }

            &__btn {
                margin-top: 10px;
                padding: 12px 34px;
                position: relative;
                border-radius: 4px;
                background-color: rgb(83, 146, 249);
                color: rgb(255, 255, 255);
                box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
                transition: all 0.15s ease-in-out 0s;
                align-self: flex-end;

                &:hover {
                    background-color: rgb(135, 179, 251);
                    border-color: rgb(135, 179, 251);
                    color: rgb(255, 255, 255);
                    transition: all 0.15s ease-in-out 0s;
                }
            }
        }

        &__box {
            margin-top: 10px;
            // box-shadow: rgb(0 0 0 / 20%) 0px 1px 3px 1px;
            background-color: white;
            padding: 20px 30px;
        }
    }
}