.step-two-payment {
    margin-bottom: 50px;

    &__timer {
        @include size(100%, 55px);
        padding: 0 15px;
    }

    &__content {

        &__top {
            padding: 8px 16px;
            box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 1px 1px;
            margin-bottom: 10px;

            &__title {
                @include flex(center, null);
                color: $blue-client;
                padding: 3px 0px;

                p {
                    font-weight: 500;
                }
            }

            &__text {
                font-weight: 600;
                margin: 5px 0px 20px 0px;
            }
        }

        &__center {
            padding: 16px 16px 20px 16px;
            border-bottom: 2px solid #ccc;

            &__payment {
                width: 100%;

                &__header {
                    background-color: $blue-client;
                    padding: 13px 8px;
                    width: 100%;
                    @include flex(center, space-between);

                    p {
                        @include font(500, null, null, white);
                    }

                    &__img {
                        @include flex(center, null);

                        img {
                            height: 32px;
                        }
                    }
                }

                &__body {
                    border-left: 1px solid $blue-client;
                    border-right: 1px solid $blue-client;
                    border-bottom: 1px solid $blue-client;
                    padding: 16px;

                    &__top {
                        &__container {
                            @include flex(center, null);
                            padding: 12px;
                            background-color: rgb(255, 255, 255);
                            margin-top: 10px;

                            p {
                                margin-left: 10px;
                            }
                        }
                    }

                    &__bottom {
                        margin-top: 15px;
                        padding: 0px 16px;
                        list-style: disc;

                        li {
                            margin-bottom: 5px;
                        }

                        &_bold {
                            font-weight: 600;
                        }
                    }
                }

            }

            &__bottom {
                margin-top: 35px;
                width: 100%;

                &__check {
                    @include flex(flex-start, null);

                    &__text {
                        margin-left: 10px;
                        height: 100%;
                    }
                }

                &__text {
                    margin-top: 20px;
                    font-size: 13px;

                    span {
                        display: inline-flex;
                        align-items: center;
                        text-underline-offset: 4px;
                        @include font(500, null, null, $blue-client);

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }

                &__btn {
                    width: 100%;
                    @include flex(null, flex-end);
                    margin: 20px 0;

                    button {
                        border-radius: 4px;
                        background: $blue-client;
                        @include size(150px, 45px);
                        align-items: end;


                        p {
                            font-style: italic;
                            @include font(500, 20px, null, white);
                        }
                    }
                }

                &__text-red {
                    @include font(600, 14px, 20px, rgb(225, 45, 45));
                    margin: 12px 0px;
                    text-align: end;
                }
            }


        }

        &__bottom {
            padding: 16px;
            display: flex;

            p {
                margin-left: 10px;
            }

            span {
                font-weight: 600;
            }
        }
    }

    &__btn {
        margin-top: 10px;
        height: 50px;
        text-transform: uppercase;
    }

    &__box {
        background-color: white;
        margin-top: 10px;
    }
}