.timer-payment{
    width: 100%;
    height: 100%;
    @include flex(center, right);

    &__text{
        color: rgb(83, 146, 249);
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        margin-right: 12px;
    }

    &__icon{
        color: rgb(57,111,198);
        font-size: 24px;
    }

    &__time{
        display: flex;
        margin-left: 10px;
        margin-right: 10px;
        &__item{
          font-size: 20px;
          margin-right: 1px;
          font-weight: 500;
          color: rgb(57, 111, 198);
        }
    }

    &__btn{
        background-color: rgb(83, 146, 249);
        padding: 12px;
        color: white;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px 1px;
        transition: all 0.15s ease-in-out 0s;
        border-radius: 4px
    }
}