.timer-payment {
    @include size(100%, 100%);
    @include flex(center, right);

    &__text {
        margin-right: 12px;
        @include font(400, 15px, 20px, $blue-client);
    }

    &__icon {
        @include font(null, 24px, null, $blue-client);
    }

    &__time {
        display: flex;
        margin: 0px 10px;

        &__item {
            margin-right: 1px;
            @include font(500, 20px, null, $blue-client);
        }
    }
}