.input-core {
    display: flex;
    flex-direction: column;

    label {
        margin: 15px 0px 8px 0px;
        @include font(500, null, null, rgba(0, 0, 0, 0.8))
    }

    input {
        height: 40px;
        padding-left: 10px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 3px;

        &:focus {
            outline: none !important;
            border-color: #719ECE;
            box-shadow: 0 0 5px rgb(83, 146, 249);
        }

        &::placeholder {
            @include font(600, null, null, rgba(0, 0, 0, 0.3))
        }
    }

    &__error {
        @include font(null, 12px, null, red !important);
        margin-top: 5px;
    }
}