.select-core {
    display: flex;
    flex-direction: column;

    label {
        @include font(500, null, null, rgba(0, 0, 0, 0.8));
        margin: 15px 0px 8px 0px;
    }

    &__input {
        @include size(100%, 42px);

        .ant-select-selector {
            border-radius: 3px;
        }

        input:focus {
            box-shadow: none;
        }
    }

    &__error {
        @include font(null, 12px, null, red !important);
        margin-top: 5px;
    }

}