.location-hotel-host {
    width: 70%;
    min-height: 600px;
    padding: 0 30px;

    p {
        color: #2a2a2e;
    }

    &__title {
        @include flex(center, space-between);
        margin-bottom: 40px;

        h1 {
            @include font(500, 24px, null, null);
        }

        img {
            width: 240px;
        }
    }

    &__content {
        width: 100%;

        h2 {
            @include font(500, 20px, null, null);
        }

        &__container {
            width: 100%;
            background-color: white;
            padding: 15px;

            &__item {
                @include flex(null, space-between);
            }
        }
    }
}