.hotel-detail-page {
    width: 60%;
    position: relative;
    margin: auto;

    &__img {
        width: 100%;
        @include flex(center, space-between);
        margin-top: 30px;
        border-radius: 4px;
        cursor: pointer;

        &__main {

            @include size(38%, 308px);
            position: relative;

            img {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }

            &__btn {
                background-color: rgba(0, 0, 0, .5);
                box-shadow: 0 1px 3px 1px rgba(0, 0, 0, .2);
                @include flex(center, null);
                padding: 8px 12px;
                border-radius: 4px;
                color: #fff;
                @include position(absolute, null, 8px, 8px, null);

                p {
                    margin-left: 5px;
                }
            }
        }

        &__list-sub {
            @include size(62%, 308px);

            &__child {
                height: 151px;
            }
        }

    }

    &__tab {
        @include size(100%, 55px);
        @include flex(center, space-between);
        margin-top: 20px;
        padding: 0 10px;
        border: 1px solid #ccc;
        border-radius: 5px;

        &__price {
            display: flex;

            &__title {
                @include font(null,15px, null, rgb(115, 115, 115));
            }

            &__price {
                @include font(500,22px,null,#e12d2d)
            }
        }
    }

    &__content {
        width: 100%;
        margin-top: 15px;
        &__top {
            padding: 10px 15px 15px 15px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;

            &__title {
                display: inline-block;

                h1 {
                    display: inline;
                    font-weight: 500;
                }
            }

            &__address {
                line-height: 22px;

                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            &__desc {
                padding: 10px 0px;
                line-height: 20px;
            }
        }

        &__center {
            padding: 10px 10px 20px 10px;
            margin-top: 20px;

            h2 {
                margin-bottom: 20px;
            }

            &__grid-item {
                @include flex(center, null);
                @include font(500,13px, null,null);
                span{
                    margin-left: 5px;
                }
            }
        }


        &__right {
            width: 30%;

            &__top {
                padding: 10px;
                height: 20vh;
            }

            &__bottom {
                margin-top: 20px;
                padding: 10px;
                height: 10vh;
            }
        }
    }

    &__list-room {
        margin-top: 30px;

        &__container {
            margin-top: 10px;

            &__room {
                margin-bottom: 30px;

                &__name {
                    padding: 10px;
                    @include font(500, 22px, null, null);
                }

                &__content {

                    &__header {
                        @include flex(center, null);
                        padding: 10px;
                        background-color: #f7f7f7;
                        @include font(500, 18px, null, null);
                    }

                    &__body {
                        display: flex;
                        padding: 0px 10px;
                    }

                    &__image {
                        width: 23%;
                    }

                    &__detail {
                        width: 21%;

                        &__item {
                            margin-top: 3px;
                            margin-left: 15px;

                            &:first-child {
                                margin-top: 20px;
                            }

                            label {
                                font-weight: 500;
                            }
                        }
                    }

                    &__occupancy {
                        @include size(10%, null);
                        @include flex(null, center);

                        &__item {
                            margin-top: 30px;
                            background-color: #e9ebee;
                            @include size(45px, 35px);
                            @include flex(center, center);
                            font-weight: 500;
                        }

                    }

                    &__price {
                        width: 20%;
                        @include flex(center, center);

                        &__item {
                            @include size(100%, 100%);
                            margin-top: 30px;
                            display: flex;
                            flex-direction: column;
                            padding: 10px;

                            h3 {
                                @include font(null, 30px, null, #e12d2d);
                                float: right;
                                text-align: right;
                            }

                            p {
                                font-size: 12px;
                                text-align: right;
                            }
                        }

                    }

                    &__total {
                        width: 10%;
                        @include flex(null, center);

                        &__item {
                            margin-top: 30px;
                            background-color: #e9ebee;
                            border: 1px solid #dddfe2;
                            @include size(45px, 35px);
                            @include flex(center, center);
                            font-weight: 500;
                        }
                    }

                    &__action {
                        width: 16%;
                        @include flex(flex-end, center);

                        button {
                            @include size(80%, 70px);
                            background-color: #5392f9;
                            color: #fff;
                            margin-bottom: 30px;
                            font-size: 18px;
                            border-radius: 3px;

                            &:hover {
                                background-color: #53b7ff;
                            }
                        }
                    }
                }
            }
        }
    }

    &__extension {
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 10px;

        &__list {
            width: 100%;
            margin-top: 15px;
            column-count: 4;

            &__item {
                margin-bottom: 20px;

                p {
                    font-size: 18px;
                    font-weight: 600;
                }

                ul {
                    list-style-type: circle;
                    margin-left: 20px;
                }

                li {
                    margin-top: 5px;
                }
            }
        }
    }

    &__modal {
        height: 100%;
        @include position(fixed, 0, 0, 0, 0);
        overflow: hidden;
        padding: 50px;

        div {
            &[tabindex="-1"] {
                height: 100%;
            }

            .ant-modal-content {
                height: 100%;

                .ant-modal-body {
                    height: 100%;
                }
            }
        }

        &__image {
            @include size(100%, 100%);
            padding: 20px;
            box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
            overflow-y: auto;

            img {
                aspect-ratio: 3 / 2;
                object-fit: cover;
                vertical-align: middle;
            }
        }
    }

}