

$scroll-up-nav-height: 70px;
$scroll-up-nav-background: #20274d;
$scroll-up-nav-child-height: 48px;


$bg-header-host: #1174a6;

$color-border: #ccc;

$blue-client: #5392f9;


//blue
// #3170E7

//showdown
//#0000004d